[Desktop Entry]
Type=Application
Name=Thermalert
Name[fr]=Thermalert
Comment=Monitor hardware temperatures from the system status area
Comment[fr]=Surveiller les températures matérielles dans la zone d’état du système
Exec=thermalert
Icon=thermalert-normal
Terminal=false
Categories=System;Monitor;
Keywords=temperature;thermal;sensors;hardware;monitor;
StartupNotify=false
X-GNOME-UsesNotifications=true
